/* ================================================ *
author:freemoses
lastedited:2019.9
* ================================================ */

/*selected:hover*/

* {
    background-color: transparent;
}

/* =============================================== */

/* MenuBar Menu                                    */

/* =============================================== */
